/* Default Styles */

:root {
    --clr-green: #04AA6D;
    --clr-green-alt: #04915e;
    --clr-dark: #282A35;
    --clr-red: #b94a48;
    --clr-blue: #008CBA;
    --clr-gray: #e7e7e7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    font-family: sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.hide {
    display: none;
}

.button {
    background-color: green;
    display: inline-block;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0.5em 2em;
}

.button:hover {
    cursor: pointer;
}

.text-center {
    text-align: center;
}